.account-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    padding: 2rem 0;
}

.account-box {
    background-color: #ffffff;
    padding: 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    max-width: 900px;
    width: 100%;
    opacity: .9;
}

.btn-primary {
    background: #267DFF;
    /*    background: linear-gradient(90deg, rgba(43,34,169,1) 0%, rgba(34,108,169,1) 65%, rgba(34,144,169,0.7911832946635731) 100%);*/
    border: 0
}

.custom-width-for-btn{
    width:14%;
}

.btn-primary:hover {
    background: linear-gradient(90deg, rgba(43,34,169,1) 0%, rgba(34,108,169,1) 65%, rgba(34,144,169,0.7911832946635731) 100%);
}

.submit-btn-wrap {
    position: relative;
}

    .submit-btn-wrap span {
        color: #ffffff;
        position: absolute;
        left: 800px;
        bottom: -2px;
        font-size: 36px;
    }

textarea {
    resize: none;
    height: 400px;
}

.btn-secondary {
    position:absolute;
    height: 25px;
    width: 25px;
    display: flex;
    border-radius:50%;
    justify-content: center;
    align-items: center;
}

.input-group-text {
    width: 6em;
    background-color: #fff;
    border-right: 0;
}

.prime-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.top-label {
    background-color: #FFF8D2;
}

.prime-label {
    padding: 20px 38px 20px 38px;
    background-color: #D9D9D9;
    border-radius: 0 0 10px 10px;
}

.sub-header{
    padding: 10px;
}

.message-panel {
    background-color: #FFF8D2;
    border-radius: 0 0 10px 10px;
    border: 0;
}

textarea[readonly] {
    background-color: #FFF8D2 !important;
}

textarea[type=text]:focus {
    background-color: #FFF8D2;
}

input[readonly] {
    background-color: #FFF8D2 !important;
}

input[type=text]:focus {
    background-color: #FFF8D2;
}
